<html>
	<head>
		<title>teste de python da narriral</title>
	</head>
	<body>
		<h1>minha página de teste</h1>
		
		<div class="description">
		<strong>minhas redes sociais</strong>
		<ul>
			<li><a href="http://facebook.com/narriral">facebook</a></li>
			<li><a href="http://instagram.com/narriral">instagram</a></li>
			<li><a href="http://seguepasseio.com">meu blog</a></li>
		</ul>
		</div>
		<br>	
		<div class="posts">
		<p><i>publicada: 12.03.2016, 12:14</i></p>
			<h2><a	href="">Titulo do post</a></h2>
			<p>Aenean eu leo quam.	Pellentesque ornare sem	lacinia	quam venenatis vestibulum. 
		</div>
		<br>
		<div class="posts">
                <p><i>publicada: 12.03.2016, 12:14</i></p>
                        <h2><a  href="">Título do post</a></h2>
                        <p>Aenean eu leo quam.  Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </div>
		<br>
		<div class="posts">
                <p><i>publicada: 12.03.2016, 12:14</i></p>
                        <h2><a  href="">Título do post</a></h2>
                        <p>Aenean eu leo quam.  Pellentesque ornare sem lacinia quam venenatis vestibulum.                              </div>

	</body>
</html>
