<html>
	<head>
		<title>teste de python da narriral</title>
	</head>
	<body>
		<h1>minha página de teste</h1>
		
		<div class="description">
		<strong>minhas redes sociais</strong>
		<ul>
			<li><a href="http://facebook.com/narriral">facebook</a></li>
			<li><a href="http://instagram.com/narriral">instagram</a></li>
			<li><a href="http://seguepasseio.com">meu blog</a></li>
		</ul>
		</div>
		<br>	
		<div class="posts">
		  <p><i>publicada: 12.03.2016, 12:14</i></p>
		  <p><strong><a href="">Titulo do post</a></strong></p>
		  <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
		</div>
		<br>
		{% for post in posts %}
		<div class="psots">
		  <p><i>publicada: {{ post.published_date }}</i></p>
		  <strong><p><a href="">{{ post.title }}</a></p></strong>
		  <p>{{ post.text|linebreaks }}</p><br />
		</div>
		{% endfor %}
		<br>
	</body>
</html>
